@{
    ViewData["Title"] = "Kontakt";
}
<h1 class="pt-3">@ViewData["Title"]</h1>
<div class="pt-3">
    <h5 class="text-dark">Bageriet</h5>
    <p>
        Bagargatan 12<br />
        662 36 ÅMÅL
    </p>
    <p>Telefonnummer: 0532-1762663</p>
    <p>E-post: bagarn@bageriet.se</p>
</div>
