@{
    ViewData["Title"] = "Kontakt";
}
<h1 class="pt-3">@ViewData["Title"]</h1>
<div class="container">
    <div class="row pt-3">
        <div class="col-4 pt-3">
            <h5 class="text-dark">Bageriet</h5>
            <p>
                Bagargatan 12<br />
                662 36 ÅMÅL
            </p>
            <p>Telefonnummer: 0532-1762663</p>
            <p>E-post: bagarn@bageriet.se</p>
        </div>
        <div class="col-8">
            <img class="p-3 img-responsive img-thumbnail" alt="Bageriet2.0" src="~/Images/bakery.jpg" />
        </div>
    </div>
</div>
    
   
