@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Bageriet 1.0</h1>
        <img class="img-responsive img-fluid" alt="Bageriet1.0" src="~/Images/bread-pic1.jpg" />
        <h4>Hemleverans av bröd sedan 1889</h4>

    </div>
