@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center p-3">
        <h1 class="display-4 p-3">Bageriet 1.0</h1>
        <img class="w-75 p-3 img-responsive img-fluid img-thumbnail" alt="Bageriet1.0" src="~/Images/bread-pic1.jpg" />
        

    </div>
