@{
    ViewData["Title"] = "Start";
}

    <div class="text-center p-5">
        <h1 class="display-4 p-3">Bageriet 2.0</h1>
        <img class="w-75 p-3 img-responsive img-fluid img-thumbnail" alt="Bageriet2.0" src="~/Images/indexPic.jpg" />
    </div>
